# To stop tracking a file that is currently tracked, use git rm --cached <file>

# .gitignore syntax
# https://git-scm.com/docs/gitignore


*~
**/xcuserdata
**/UserInterfaceState.xcuserstate
Pods/
.DS_Store
